/* debug */

#upper {
    height: 500px;
    background-color: yellow;
}


/* /debug */

/* common */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clear-fix::after {
    content: "";
    display: table;
    clear: both;
}

.main-page {
    width: 80%;
    margin: auto;
    margin-top: 20px;
}

/* main content section */
#start-page {
    height: 150px;
    background-color: palevioletred;
} 

#upper, #lower {
    margin-top: 25px;
}

#lower {
    padding-bottom: 1%;
    background-color: blue;
}

#lower > header {
    height: 80px;
    background-color: cyan;
    margin-bottom: 1%;
}

#lower > section {
    float: left;
    height: 570px;
    margin: 1%;
    background-color: cyan;
}

aside {
    height: 570px;
    float: left;
    width: 24%;
    margin: 1% 0;
    background-color: cyan;

}

#lower > section {
    width: 50%;
}

#right {
    float: right;
}


/* page ending */

#close-page {
    height: 75px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: blueviolet;
}